/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */
.header {
    background-color: #ADD8E6;
    height: 80px;
}
/* COMMON */
.container {
   width: 80%;
   max-width: 1000px;
   margin: 0 auto;
}
/* Layout */

.flex-header{
display: flex;
justify-content: space-between;
background-color: orange;
/* debug */
border: 1px solid black;
border-style: dotted;
}
.flex {
    display: flex;
}

.section-header a {
  text-decoration: none;
  color: #000000;
}
.first-section {
    background-color: #00008B;
    /* debug */
    height: 300px;
}
.content-1 {
    background-color: #EE82EE;
   height: 80%;
   width: 40%;
   border: 2px solid black;
   border-style: dotted;
   margin-top: 30px;
   margin-bottom: 30px;
}
.col-70 {
    background-color:#5757ce;
    width: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
    /* debug */
    height: 300px;
    border: 2px solid black;
    border-style: dotted;
}
.col-30 {
    background-color: #EE82EE;
    width: 30%;
    margin-top: 30px;
    margin-bottom: 30px;
    /* debug */
    height: 300px;
    border: 2px solid black;
    border-style: dotted;
    
}
.bg-gray {
    background-color: #D3D3D3;
}
/* FOOTER */